= render 'head'
.primary
  / Begin Post
  .post
    %a{:href => "post2.html"}
      %img{:alt => "", :src => "/style/images/art/blog2-1.jpg"}/
    / Begin Info
    .info
      / Begin Date
      .date
        .day 24
        .month Sep
      / End Date
      / Begin Meta
      .meta
        %h3.title
          %a{:href => "post2.html"} Malesuada Condimentum Inceptos Vehicula
        .comments
          %a{:href => "#"} 11 Comments
        .tags
          %a{:href => "#"} photography,
          %a{:href => "#"} manipulation,
          %a{:href => "#"} journal
      / End Meta
    .clear
    / End Info
    %p
      Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %a.more{:href => "post2.html"} Continue reading...
  / End Post
  / Begin Post
  .post
    / Begin Slider
    .slider
      %div
        %img{:alt => "", :src => "/style/images/art/blog2-2.jpg"}/
      %div
        %img{:alt => "", :src => "/style/images/art/blog2-4.jpg"}/
    / End Slider
    / Begin Info
    .info
      / Begin Date
      .date
        .day 24
        .month Sep
      / End Date
      / Begin Meta
      .meta
        %h3.title
          %a{:href => "post2.html"} Malesuada Condimentum Inceptos Vehicula
        .comments
          %a{:href => "#"} 13 Comments
        .tags
          %a{:href => "#"} photography,
          %a{:href => "#"} manipulation,
          %a{:href => "#"} journal
      / End Meta
    .clear
    / End Info
    %p
      Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %a.more{:href => "post2.html"} Continue reading...
  / End Post
  / Begin Post
  .post
    %a{:href => "post2.html"}
      %img{:alt => "", :src => "/style/images/art/blog2-3.jpg"}/
    / Begin Info
    .info
      / Begin Date
      .date
        .day 24
        .month Sep
      / End Date
      / Begin Meta
      .meta
        %h3.title
          %a{:href => "post2.html"} Malesuada Condimentum Inceptos Vehicula
        .comments
          %a{:href => "#"} 13 Comments
        .tags
          %a{:href => "#"} photography,
          %a{:href => "#"} manipulation,
          %a{:href => "#"} journal
      / End Meta
    .clear
    / End Info
    %p
      Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      %a.more{:href => "post2.html"} Continue reading...
  / End Post
  / Begin Post
  .post
    %a{:href => "post2.html"}
      %img{:alt => "", :src => "/style/images/art/blog2-4.jpg"}/
    / Begin Info
    .info
      / Begin Date
      .date
        .day 24
        .month Sep
      / End Date
      / Begin Meta
      .meta
        %h3.title
          %a{:href => "post2.html"} Malesuada Condimentum Inceptos Vehicula
        .comments
          %a{:href => "#"} 13 Comments
        .tags
          %a{:href => "#"} photography,
          %a{:href => "#"} manipulation,
          %a{:href => "#"} journal
      / End Meta
    .clear
    / End Info
    %p Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
  / End Post
  = render 'pagenavi'
/ End Primary
/ Begin Secondary
.secondary
  .sidebox
    %h3 Categories
    %ul.sidelist
      %li
        %a{:href => "#"} Web Design (12)
      %li
        %a{:href => "#"} Photography (10)
      %li
        %a{:href => "#"} Manipulation (18)
      %li
        %a{:href => "#"} Motion Graphic (13)
      %li
        %a{:href => "#"} Graphic Design (10)
  .sidebox
    %h3 Popular Posts
    %ul.popular-posts
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "/style/images/art/s1.jpg"}/
        %h5
          %a{:href => "#"} Dolor Commodo Consectetur
        %span
          26.08.11 |
          %a{:href => "#"} 21 Comments
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "/style/images/art/s2.jpg"}/
        %h5
          %a{:href => "#"} Dolor Commodo Consectetur
        %span
          26.08.11 |
          %a{:href => "#"} 21 Comments
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "/style/images/art/s3.jpg"}/
        %h5
          %a{:href => "#"} Dolor Commodo Consectetur
        %span
          26.08.11 |
          %a{:href => "#"} 21 Comments
  .sidebox
    %h3 Custom Text
    %p Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.
  .sidebox
    %h3 Archives
    %ul.sidelist
      %li
        %a{:href => "#"} January 2011 (12)
      %li
        %a{:href => "#"} February 2011 (10)
      %li
        %a{:href => "#"} March 2011 (18)
      %li
        %a{:href => "#"} April 2011 (13)
      %li
        %a{:href => "#"} May 2011 (10)
      %li
        %a{:href => "#"} June 2011 (18)
  .sidebox
    %h3 Tags
    %ul.sidelist
      %li
        %a{:href => "#"} Web Design (12)
      %li
        %a{:href => "#"} Photography (10)
      %li
        %a{:href => "#"} Manipulation (18)
      %li
        %a{:href => "#"} Motion Graphic (13)
      %li
        %a{:href => "#"} Graphic Design (10)
/ End Secondary
.clear
