%ul#filtering-nav
  %li.show Filter:
  %li
    %a.all{href: "#all"} All
  %li
    %a.web{href: "#web"} Web
  %li
    %a.photo{href: "#photo"} Photo
  %li
    %a.video{href: "#video"} Video
.clear
