= render 'head'
#portfolio
	= render 'filterbuttons'
	.items
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p1.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vestibulum Tellus
			%p Aenean lacinia bibendum nulla sed consectetur.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p2.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Malesuada Magna
			%p Lorem ipsum consectetur adipiscing elit.
		.box.col4.video
			.image
				%a{href: "http://vimeo.com/32364450", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.play
					%img{alt: "", src: "/style/images/art/p3.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Egestas Risus
			%p Maecenas sed varius blandit sit amet magna.
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p4.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Bibendum Ullam
			%p Integer posuere erat ante venenatis dapibus.
		.box.col4.video
			.image
				%a{href: "http://www.youtube.com/watch?v=pyOyBVXDJ9Q", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.play
					%img{alt: "", src: "/style/images/art/p5.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Commodo Bibendum
			%p Nullam quis risus eget urna mollis ornare vel eu leo.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p6.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Sollicitudin Lorem
			%p Pellentesque ornare sem lacinia quam venenatis.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p7.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Cursus Mattis
			%p Cum sociis natoque penatibus et magnis disor.
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p8.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Sit Porta Purus
			%p Etiam porta sem malesuada magna bland.
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p9.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Fermentum Porta
			%p Duis mollis, est non commodo luctus nec elit.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p10.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Risus Venenatis
			%p Nullam quis risus eget urna mollis ornare vel eu leo.
		.box.col4.video
			.image
				%a{href: "http://www.purple-twinkie.com//FlashMovies/swf/28-EyeCandy.swf?width=500&height=430", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.play
					%img{alt: "", src: "/style/images/art/p11.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Nullam Commodo
			%p Praesent commodo cursus magna, vel scelerisque.
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p12.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vestibulum Tellus
			%p Sed posuere consectetur est at lobortis.
		.box.col4.video
			.image
				%a{href: "http://vimeo.com/2370018", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.play
					%img{alt: "", src: "/style/images/art/p13.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vulputate Malesuada
			%p Vivamus sagittis lacus faucibus dolor auctor.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p14.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Magna Ridiculus
			%p Donec ullamcorper nulla non metus auctor fringilla.
		.box.col4.photo
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p15.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Elit Adipiscing
			%p Lorem ipsum dolor sit amet, consectetur.
		.box.col4.web
			.image
				%a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
					%span.overlay.zoom
					%img{alt: "", src: "/style/images/art/p16.jpg"}/
			%h4
				%a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Magna Quam Fusce
			%p Nullam quis risus eget urna mollis ornare.
	/ .wrap
/ End Portfolio
