= render 'head'
#portfolio
  = render 'filterbuttons'
  .items
    .box.col2.web
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-1.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Cras Ridiculus Justo Porta Ligula
      %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit risus.
    .box.col2.photo
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-2.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Ullamcorper Sit Nibh Purus Fusce
      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    .box.col2.video
      .image
        %a{:href => "http://vimeo.com/32364450", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.play
          %img{:alt => "", :src => "/style/images/art/p3-3.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Nibh Consectetur Malesuada Egestas
      %p Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum dolor.
    .box.col2.web
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-4.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Ullamcorper Venenatis Commodo Fermentum
      %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
    .box.col2.video
      .image
        %a{:href => "http://www.youtube.com/watch?v=pyOyBVXDJ9Q", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.play
          %img{:alt => "", :src => "/style/images/art/p3-5.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vestibulum Justo Nibh Ultricies Sem
      %p Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
    .box.col2.photo
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-6.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Ligula Fusce Pellentesque Magna Malesuada
      %p Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.
    .box.col2.photo
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-7.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Fusce Amet Malesuada Nullam Porta
      %p Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo.
    .box.col2.web
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-8.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Fusce Mattis Sollicitudin Cursus Dolor
      %p Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    .box.col2.web
      .image
        %a{:href => "/style/images/art/p1-full.jpg", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.zoom
          %img{:alt => "", :src => "/style/images/art/p3-9.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Elit Ligula Dapibus Ornare Nullam
      %p Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
    .box.col2.video
      .image
        %a{:href => "http://www.purple-twinkie.com//FlashMovies/swf/28-EyeCandy.swf?width=500&height=430", :rel => "prettyPhoto[portfolio]", :title => "Caption"}
          %span.overlay.play
          %img{:alt => "", :src => "/style/images/art/p3-10.jpg"}/
      %h4
        %a{:href => "http://themes.iki-bir.com/caprice/portfolio-post.html"} Pharetra Amet Fermentum Justo Vestibulum
      %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor amet.