= render 'head'
#portfolio
  = render 'filterbuttons'
  .items
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-1.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vestibulum Tellus
      %p Cum sociis natoque penatibus et magnis dis parturient montes.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-2.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Malesuada Magna
      %p Nullam quis risus eget urna mollis ornare vel eu leo.
    .box.col3.video
      .image
        %a{href: "http://vimeo.com/32364450", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p2-3.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Egestas Risus
      %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-4.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Bibendum Ullamcorper
      %p Aenean eu leo quam. Pellentesque ornare sem lacinia vestibulum.
    .box.col3.video
      .image
        %a{href: "http://www.youtube.com/watch?v=pyOyBVXDJ9Q", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p2-5.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Commodo Bibendum
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-6.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Sollicitudin Lorem
      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-7.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Cursus Mattis
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-8.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Sit Porta Purus
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-9.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Fermentum Porta
      %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-10.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Risus Venenatis
      %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
    .box.col3.video
      .image
        %a{href: "http://www.purple-twinkie.com//FlashMovies/swf/28-EyeCandy.swf?width=500&height=430", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p2-11.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Nullam Commodo
      %p Fusce dapibus, tellus ac cursus commodo, mauris condimentum.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-12.jpg"}/
      %h4
        %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Vestibulum Tellus
      %p Donec ullamcorper nulla non metus auctor fringilla.
  / .wrap
