= render 'head'
#portfolio
  = render 'filterbuttons'
  .items
    .box.col1.web
      .left-side
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p4-1.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Euismod Ridiculus Mollis Sem
        %p Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.photo
      .left-side
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p4-2.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Ligula Risus Porta Condimentum Consectetur
        %p Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.video
      .left-side
        %a{href: "http://vimeo.com/32364450", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p4-3.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Ultricies Quam Pellentesque
        %p Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.web
      .left-side
        %a{href: "/style/images/art/p12-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p4-4.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Dolor Purus Mollis
        %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.video
      .left-side
        %a{href: "http://www.youtube.com/watch?v=pyOyBVXDJ9Q", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p4-5.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Dolor Tristique Commodo
        %p Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.photo
      .left-side
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p4-6.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Aenean Nibh Ornare
        %p Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.video
      .left-side
        %a{href: "http://www.purple-twinkie.com//FlashMovies/swf/28-EyeCandy.swf?width=500&height=430", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.play
          %img{alt: "", src: "/style/images/art/p4-7.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Elit Ullamcorper Parturient
        %p Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
        %a.button.blue{href: "portfolio-post.html"} View Project
    .box.col1.web
      .left-side
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto[portfolio]", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p4-8.jpg"}/
      .right-side
        %h4
          %a{href: "http://themes.iki-bir.com/caprice/portfolio-post.html"} Venenatis Adipiscing Fusce
        %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet.
        %a.button.blue{href: "portfolio-post.html"} View Project
  / .wrap
/ End Portfolio
