= render 'head'
/ Begin Portfolio
#portfolio
  %ul#filtering-nav
    %li.show Filter:
    %li
      %a.all{href: "#all"} All
    %li
      %a.web{href: "#web"} Web
    %li
      %a.photo{href: "#photo"} Photo
    %li
      %a.graphic{href: "#graphic"} Graphic
  .clear
  .items
    .box.col3.web
      .image
        %a{href: "/style/images/art/p1-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-1.jpg"}/
      %h4
        %a{href: "#"} Vestibulum Tellus
      %p Cum sociis natoque penatibus et magnis dis parturient montes.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p2-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-2.jpg"}/
      %h4
        %a{href: "#"} Malesuada Magna
      %p Nullam quis risus eget urna mollis ornare vel eu leo.
    .box.col3.graphic
      .image
        %a{href: "/style/images/art/p3-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-3.jpg"}/
      %h4
        %a{href: "#"} Egestas Risus
      %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p4-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-4.jpg"}/
      %h4
        %a{href: "#"} Bibendum Ullamcorper
      %p Aenean eu leo quam. Pellentesque ornare sem lacinia vestibulum.
    .box.col3.graphic
      .image
        %a{href: "/style/images/art/p5-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-5.jpg"}/
      %h4
        %a{href: "#"} Commodo Bibendum
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p6-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-6.jpg"}/
      %h4
        %a{href: "#"} Sollicitudin Lorem
      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p7-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-7.jpg"}/
      %h4
        %a{href: "#"} Cursus Mattis
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p8-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-8.jpg"}/
      %h4
        %a{href: "#"} Sit Porta Purus
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p9-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-9.jpg"}/
      %h4
        %a{href: "#"} Fermentum Porta
      %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    .box.col3.photo
      .image
        %a{href: "/style/images/art/p10-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-10.jpg"}/
      %h4
        %a{href: "#"} Risus Venenatis
      %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
    .box.col3.graphic
      .image
        %a{href: "/style/images/art/p11-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-11.jpg"}/
      %h4
        %a{href: "#"} Nullam Commodo
      %p Fusce dapibus, tellus ac cursus commodo, mauris condimentum.
    .box.col3.web
      .image
        %a{href: "/style/images/art/p12-full.jpg", rel: "prettyPhoto", title: "Caption"}
          %span.overlay.zoom
          %img{alt: "", src: "/style/images/art/p2-12.jpg"}/
      %h4
        %a{href: "#"} Vestibulum Tellus
      %p Donec ullamcorper nulla non metus auctor fringilla.
  / .wrap
/ End Portfolio
