= render 'head'
.one-half
  %h3
    %img{alt: "", src: "/style/images/icon-web.png"}>/
    Web Design
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
.one-half.last
  %h3
    %img{alt: "", src: "/style/images/icon-illus.png"}>/
    Illustration
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
.clear
.one-half
  %h3
    %img{alt: "", src: "/style/images/icon-motion.png"}>/
    Motion Graphic
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
.one-half.last
  %h3
    %img{alt: "", src: "/style/images/icon-pack.png"}>/
    Package Design
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.
.clear
.line
/ Begin Testimonials
%h3 Testimonials
%ul.testimonials
  %li
    %blockquote
      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.
    %cite – Dapibus Fusce
  %li
    %blockquote
      %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %cite – Cursus Risus
  %li
    %blockquote
      %p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
    %cite – Parturient Dapibus Ultricies
  %li
    %blockquote
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.
    %cite – Nullam Ornare
/ End Testimonials
