= render 'head'
.one-half
	%h3
		%img{alt: "", src: "/style/images/icon-web.png"}>/
		Web Design
	%p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
.one-half.last
	%h3
		%img{alt: "", src: "/style/images/icon-illus.png"}>/
		Illustration
	%p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
.clear
.one-half
	%h3
		%img{alt: "", src: "/style/images/icon-motion.png"}>/
		Motion Graphic
	%p Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
.one-half.last
	%h3
		%img{alt: "", src: "/style/images/icon-pack.png"}>/
		Package Design
	%p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, posuere velit aliquet. Donec id elit non mi porta gravida.
.clear
.line
/ Begin Latest Works
%h2 Latest Works
= render 'layouts/carousel'
/ End Latest Works
.line
%h3 Malesuada Condimentum Inceptos Vehicula
%p Sed posuere consectetur est at lobortis. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
%ul
	%li Sed posuere consectetur est at lobortis, Nullam id dolor id nibh ultricies vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	%li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	%li Maecenas sed diam eget risus varius blandit sit amet non magna.