%h1.title Service Icons
.line
.intro Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-address.png"}>/
    Address
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-app.png"}>/
    Application
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-bag.png"}>/
    Bag
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-calc.png"}>/
    Calculator
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-clipboard.png"}>/
    Clipboard
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-clock.png"}>/
    Clock
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-construction.png"}>/
    Construction
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-date.png"}>/
    Date
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-headphone.png"}>/
    Headphone
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-lamp.png"}>/
    Lamp
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-lens.png"}>/
    Lens
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-lock.png"}>/
    Lock
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-mail.png"}>/
    Mail
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-map.png"}>/
    Map
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-medal.png"}>/
    Medal
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-music.png"}>/
    Music
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-note.png"}>/
    Note
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-package.png"}>/
    Package
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-print.png"}>/
    Print
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-settings.png"}>/
    Settings
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-smartphone.png"}>/
    Smartphone
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-sofa.png"}>/
    Sofa
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-target.png"}>/
    Target
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-twitbird.png"}>/
    Twitter
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-user.png"}>/
    User
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-wallet.png"}>/
    Wallet
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-web.png"}>/
    Monitor
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-illus.png"}>/
    Pallet
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half
  %h3
    %img{:alt => "", :src => "/style/images/icon-motion.png"}>/
    Video
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.one-half.last
  %h3
    %img{:alt => "", :src => "/style/images/icon-pack.png"}>/
    Gift
  %p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes.
.clear
