%h1.title Tabs, Toggle and Tables
.line	
.intro Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
.tabbed-content
  %h3 Tabs
  %ul.tabs
    %li
      %a{:href => "#tab1"} This is
    %li
      %a{:href => "#tab2"} Tabbed
    %li
      %a{:href => "#tab3"} Content
  .tab_container
    #tab1.tab_content{:style => "display: none;"}
      %h4 Vestibulum ullamcorper
      %p
        %img.left.round{:alt => "", :src => "/style/images/art/p1.jpg"}>/
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus. Vestibulum ullamcorper quam nec lorem aliquam id feugiat risus tincidunt. Etiam molestie, risus eu gravida lobortis, velit sapien aliquam lectus, nec hendrerit lectus erat ac libero. Aenean fermentum luctus viverra. Pellentesque id lectus ante, vel tristique elit.
    #tab2.tab_content{:style => "display: none;"}
      %h4 We love tabs
      %p
        %img.right.round{:alt => "", :src => "/style/images/art/p2.jpg"}>/
        Etiam molestie, risus eu gravida lobortis, velit sapien aliquam lectus, nec hendrerit lectus erat ac libero. Aenean fermentum luctus viverra. Pellentesque id lectus ante, vel tristique elit. Fusce mattis, purus non consectetur cursus, justo nisi viverra sem, ac lobortis ipsum sapien vel purus. Vivamus aliquet gravida nibh sit amet accumsan. Fusce et lorem nunc. Sed convallis, tortor nec ornare sagittis, velit ligula varius sapien, eu cursus nisl purus sed felis. Morbi congue pellentesque quam, eu ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent.
    #tab3.tab_content{:style => "display: none;"}
      %h4 Don't you?
      %p Nulla non tortor eget ligula dapibus semper non ut mauris. Nam feugiat, lorem a tempus auctor, odio nisl porttitor lacus, ut ultrices neque massa a odio. Pellentesque sit amet leo dictum nisl tempor malesuada id ut magna. Etiam non mauris eget massa sagittis euismod. Aliquam lectus nulla, consequat eget molestie id, malesuada sit amet lectus. Pellentesque eget justo sit amet nunc adipiscing semper at ac quam. Praesent a volutpat nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
%br/
.line
%h3 Toggle
/ Begin Toggle
.toggle
  %h2.trigger + Click to title
  .togglebox
    %div
      %h4 Vestibulum ullamcorper
      %p
        %img.left{:alt => "", :src => "/style/images/art/p3.jpg"}>/
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.
/ End Toggle
/ Begin Toggle
.toggle
  %h2.trigger + Click to title
  .togglebox
    %div
      %h4 Vestibulum ullamcorper
      %p
        %img.left{:alt => "", :src => "/style/images/art/p4.jpg"}>/
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc rhoncus tortor quis eros bibendum a tempus est dapibus. Vivamus consectetur quam eu tellus porttitor ultrices. Nunc metus massa, ullamcorper sit amet malesuada a, porttitor in tellus.
/ End Toggle
%br/
.line
%h2 Table 1
%table
  %tr
    %th
      %h4 Table Header 1
    %th
      %h4 Table Header 2
    %th.center
      %h4
        Centered Header 3
  %tr
    %td Division 1
    %td Division 2
    %td.center Division 3
  %tr.even
    %td Division 1
    %td Division 2
    %td.center Division 3
  %tr
    %td Division 1
    %td Division 2
    %td.center Division 3
%br/
.line
%h2 Table 2
%table.price
  %tr.border_bottom
    %td &nbsp;
    %td
      %h4 Free
    %td
      %h4
        Mini
        %span
          10$ /
          %sup month
    %td
      %h4
        Medium
        %span
          20$ /
          %sup month
    %td
      %h4
        Advanced
        %span
          30$ /
          %sup month
  %tr.even
    %td.right Lorem Ipsum
    %td 1
    %td 5
    %td 20
    %td Unlimited
  %tr
    %td.right Lorem Ipsum
    %td 1
    %td 10
    %td 50
    %td Unlimited
  %tr.even
    %td.right Lorem Ipsum
    %td
      %span.cross
    %td
      %span.cross
    %td
      %span.check-icon
    %td
      %span.check-icon
  %tr
    %td.right Lorem Ipsum
    %td
      %span.cross
    %td
      %span.check-icon
    %td
      %span.check-icon
    %td
      %span.check-icon
  %tr.even
    %td.right Lorem Ipsum
    %td
      %span.cross
    %td
      %span.check-icon
    %td
      %span.check-icon
    %td
      %span.check-icon
  %tr
    %td.right Lorem Ipsum
    %td
      %span.cross
    %td
      %span.cross
    %td
      %span.cross
    %td
      %span.check-icon
