%h1.title Typography
.line
.intro Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
.one-half
  %h3 Unordered List
  %ul
    %li Pellentesque non diam et tortor dignissim.
    %li Neque sit amet mauris egestas quis mattis.
    %li Cras justo odio, dapibus ac facilisis.
    %li Curabitur viver justo sed scelerisque.
.one-half.last
  %h3 Ordered List
  %ol
    %li Pellentesque non diam et tortor dignissim.
    %li Neque sit amet mauris egestas quis mattis.
    %li Curabitur viver justo sed scelerisque.
    %li Condimentum aenean risus malesuada tortor.
.clear
.line
%h3 Blockquote
%blockquote
  %p Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque.
.line
%h3 Dropcap
%p
  %span.dropcap> D
  uis non lectus sit amet est imperdiet cursus elementum vitae eros. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper. Nulla facilisi. Donec interdum, enim in dignissim lacinia, lectus nisl viverra lorem, ac pulvinar nunc ante at neque. Proin et dui eros, at aliquet est. Pellentesque consectetur lectus quis enim mollis ut convallis urna malesuada. Sed tincidunt interdum sapien vel gravida. Nulla a tellus lectus, in aliquet tellus. Donec aliquam neque quis mi.
  .line
  %h3 Hightlights
  %p
    Duis non lectus sit amet est imperdiet cursus elementum vitae eros.
    %span.lite1 This is hightlight
    morbi vitae magna tellus, ac mattis urna.
    %span.lite2 This is second highlight
    posuere. Cras quis odio in risus euismod suscipit. Fusce viverra ligula vel justo bibendum semper.
    .line
    .one-third
      %h3 Special Texts
      %p
        %em This is emphasised text
        %br/
        %strong This is strong text
        %br/
        %abbr{:title => "This is an abbr - &lt;abbr&gt;&lt;/abbr&gt;"} This is an abbr
        %br/
        %del This is deleted text
        %br/
        %a{:href => "#"} This is a link
    .one-third
      %h3 Code Display
      %pre
        %code
          :preserve
            A block of code
            A block of code
            A block of code
            A block of code
            A block of code
            A block of code            
    .one-third.last
      %h3 Misc Typography
      %p
        Lorem
        %sup superscript
        dolor
        %sub subscript
        amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
        = succeed "." do
          %cite cite
        Nunc iaculis suscipit dui. Nam sit amet sem.
        %abbr{:title => "Avenue"} AVE
    .clear
