.carousel
	#carousel-scroll
		%a#prev{href: "#"}
		%a#next{href: "#"}
	%ul
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p1.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p2.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p3.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p4.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p5.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p6.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p7.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p8.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p9.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p10.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p11.jpg"}/
		%li
			%a{href: "#"}
				%span.overlay.details
				%img{alt: "", src: "/style/images/art/p12.jpg"}/
:javascript
	jQuery(".carousel").jcarousel({
			scroll: 1,
			auto: 10,
			initCallback: mycarousel_initCallback,
			// This tells jCarousel NOT to autobuild prev/next buttons
			buttonNextHTML: null,
			buttonPrevHTML: null,
			wrap: 'last',
			animation: 800
	});