/ Begin Footer
#footer
	.footer-box.one-third
		%h3 Popular Posts
		%ul.popular-posts
			%li
				%a{href: "#"}
					%img{alt: "", src: "/style/images/art/s1.jpg"}/
				%h5
					%a{href: "#"} Dolor Commodo Consectetur
				%span
					26 Aug 2011 |
					%a{href: "#"} 21 Comments
			%li
				%a{href: "#"}
					%img{alt: "", src: "/style/images/art/s2.jpg"}/
				%h5
					%a{href: "#"} Dolor Commodo Consectetur
				%span
					26 Aug 2011 |
					%a{href: "#"} 21 Comments
			%li
				%a{href: "#"}
					%img{alt: "", src: "/style/images/art/s3.jpg"}/
				%h5
					%a{href: "#"} Dolor Commodo Consectetur
				%span
					26 Aug 2011 |
					%a{href: "#"} 21 Comments
	.footer-box.one-third
		%h3 About
		%p Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.
		%p
			Lorem Ipsum Dolor Sit
			Moon Avenue No:11/21
			Planet City, Earth
			%br/
			%br/
			%span.lite1 Fax:
			+555 797 534 01
			%br/
			%span.lite1 Tel:
			+555 636 646 62
			%br/
			%span.lite1 E-mail:
			name@domain.com
	.footer-box.one-third.last
		%h3 Custom Text
		%p Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit.
		%p Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.
/ End Footer