/ Begin Slider
#slider
  .flexslider
    %ul.slides
      %li
        %img{:alt => "", :src => "/style/images/art/slide1.jpg"}/
      %li
        %img{:alt => "", :src => "/style/images/art/slide2.jpg"}/
      %li
        %img{:alt => "", :src => "/style/images/art/slide3.jpg"}/
      %li
        %img{:alt => "", :src => "/style/images/art/slide4.jpg"}/
/ End Slider
